/* configurações globais */
:root {
    --color-dark1: #2a2c2f;
    --color-dark2: #323437;
    --color-white: #fff;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: 'Lucida Console', 'Courier New', monospace;
    background-color: var(--color-dark1);

    align-content: center;

    margin-left: auto;
    margin-right: auto;
    width: 1230px;
    height: 100%;

    box-shadow: 5px 5px 5px 5px var(--color-dark4);
}

.content {
    transition: 1s;
}

/* secoes */
section {
    padding-top: 20px;
    padding: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    background-color: var(--color-dark1);
    justify-content: right;
    padding: 10px;
    height: 18px;
    box-shadow: 1px 1px 4px var(--color-dark4);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

header .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
    z-index: 2;
}

header .navigation_header a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-purple);
    transition: 2s;
    font-weight: none;
    font-size: 12px;
}

header .navigation_header a:hover {
    color: var(--color-white);
    font-weight: bold;
}

.active {
    background: var(--color-dark4);
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .navigation_header {
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 9px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

footer {
    background-color: var(--color-dark4);
    color: var(--color-white);
    margin: 10px;
    align-items: center;
    text-align: center;
}

.primary {
    background-color: var(--color-dark4);
}

.secundary {
    background-color: var(--color-dark3);
}




section.regras1,
section.regra2,
section.elementos,
section.como-jogar,
section.tabuleiro,
section.cartas {
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    flex-direction: row;
    padding-top: 20px;
    padding-block-end: 20px;
}

section.jornada,
section.redencao,
section.inicio {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

 
section.regras1 div,
section.regras2 div,
section.elementos div,
section.jornada div,
section.redencao div,
section.inicio div {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

section.regras1 div,
section.elementos div,
section.inicio div,
section.jornada div {
    flex-direction: row;
}

section.regras2 div,
section.redencao div {
    flex-direction: row-reverse;
}

section.inicio div div {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

section.regras1 div div,
section.regras2 div div,
section.elementos div,
section.jornada div div,
section.redencao div div {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 60%;
    text-align: justify;
}


section.elementos div div{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    text-align: left;
}




section.como-jogar h2,
section.regras1 h2,
section.regras2 h2,
section.elementos h2,
section.tabuleiro h2,
section.cartas h2,
section.jornada h2,
section.inicio h2,
section.redencao h2 {
    text-transform: uppercase;
    color: var(--color-purple);
    font-weight: bold;
    padding-top: 25px;
    padding-block-end: 20px;
    align-items: center;
}

section.inicio h2 {
    font-size: 40px;
    text-align: center;
}

section.como-jogar h2,
section.tabuleiro h2,
section.cartas h2 {
    align-items: top;
    text-align: left;
    margin: 20px;
}

section.como-jogar h2,
section.regras1 h2,
section.regras2 h2,
section.elementos h2,
section.tabuleiro h2,
section.cartas h2,
section.jornada h2,
section.redencao h2 {
    font-size: 20px;
    text-align: left;
}

section.regras1 p,
section.regras2 p,
section.elementos p,
section.jornada p,
section.redencao p {
    font-size: 18px;
    text-transform: capitalize;
    padding-block-end: 20px;
    color: var(--color-white);
    text-indent: 40px;
}


section.como-jogar div,
section.tabuleiro div,
section.cartas .cartas-recompensa,
section.cartas .cartas-numeradas,
section.cartas .cartas-sabotagem {
    width: 99%;
    min-height: 100%;
    flex-direction: row;
    justify-content: space-around;
}

section.cartas.cartas-recompensa div,
section.cartas.cartas-numeradas div,
section.cartas.cartas-sabotagem div {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-self: center;
    align-items: center;
}

.cartas-sabotagem img,
.cartas-numeradas img {
    height: 180px;
    width: auto;
}

.cartas-recompensa img {
    height: 360px;
    width: auto;
}

.tabuleiro img {
    width: auto;
    height: 800px;
}

.como-jogar img {
    width: auto;
    height: 500px;
}

.regras1 img,
.regras2 img {
    max-width: 120px;
    height: auto;
    display: inline-block;
    margin: 10px;
}

.elementos img {
    max-width: 120px;
    height: auto;
    display: inline-block;
    margin: 10px;
}